name: Playwright Tests
on:
  push:
    branches: [  ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Install xvfb
      run: sudo apt-get install xvfb
    - name: Run Playwright tests
      run: xvfb-run npm test
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: success() || failure() 
      with:
        report_paths: 'reports/*.xml'
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: cucumber-report
        path: reports/
        retention-days: 30
    # Configure Pages
    - name: Configure GitHub Pages
      uses: actions/configure-pages@v3
  # Upload the report as a pages artifact
    - name: Upload Pages Artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: reports/html
  deploy:
    needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v2